* {
	padding:0;margin:0;border:none;outline:none;
}

body {
	background-color:white;font:normal 1.1em georgia;width:870px;margin:0 auto;color:black;
}

h1 {
	color:gold;text-shadow:0 0 3px black;font-size:44px;background:#999;padding:0 0 0 10px;
	-moz-border-radius:8px;margin-bottom:10px;border:2px solid gray;
}

h2 {
	text-shadow:1px 1px 2px #ccc;color:#444;font-size:30px;
}

#content {
	background-color:#eee;background-image:-moz-linear-gradient(top, #eaeaea, white);
	-webkit-box-shadow: 0 0 4px #aaa;-moz-box-shadow: 0px 0px 4px #aaa;
	-moz-border-radius:8px;-webkit-border-radius:8px;
	border-radius:8px;padding:20px;margin:20px 0;
}

a {
	color:darkred;
}

ol, ul {
	padding-left:40px;
}

.section {
	margin-top:40px;line-height:24px;
}

.hide {
	display:none;
}
td {
	text-align:right;border:1px solid #ddd;padding:0 3px;
}

abbr {
	padding:0 3px;text-align:center;color:gold;background:#999;
	margin:2px 1px;font:bold 18px monospace;-moz-border-radius:4px;-webkit-border-radius:4px;
	border-radius:4px;text-shadow:1px 1px 1px black;border-right:1px solid #222;
	border-bottom:1px solid #222;
}

code {
	font-size:18px;color:#555;
}
code.block {display:block;border:1px solid silver;padding:8px 10px;margin:10px;background:white;
-moz-border-radius:4px;-webkit-border-radius:4px;
	border-radius:4px;  
}

